* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style-type: none;
    padding: 24px;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
    color: black;  
}
main {
    border-top: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Google-imagem {
    margin-bottom: -75px;

}

/*border: groove dá um efeito tridimencional ao input*/
/*box-shadow: dá um efeito sombra*/
input {
    background-color: transparent;
    margin-bottom: 30px;
    width: 60%;
    height: 45px;
    border: 1px groove;
    border-radius: 20px;
    box-shadow: 0px 3px 10px 0px rgba(31, 31, 31, 0.08);
}

/*line-height ajusta a linha dentro do button*/
button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    cursor: pointer;
    border-radius: 8px;
    text-align: center
   
}

footer {
    background-color: #ececec;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

p {
    padding: 15px 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
    border: 1px solid #d9dade;
}

/*usado display flex para empurrar os itens aos extremos*/
/*align_itens: center para centrar os itens na linha*/
/*pag para ajustar o espaço entre os itens*/
/*ustify-content: space-evenly para que o espaçamento sejam identicos*/
.fundos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    padding: 0 20px;
    gap: 30px;
}



